# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your Emory ID as a string below

In [1]:
# Write your answer here
print('2508406')

2508406

<font size = "5" >
This quiz is open book 

- You can use the lecture notes and the internet
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"


**By printing the message, you acknowledge that you will abide by Emory's code of conduct.**

In [2]:
# Write your answer here:
print('I will abide by Emorys Code of Conduct')

I will abide by Emorys Code of Conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [3]:
# Write your answer here
import numpy as np 
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Print the list with the unique values that are not numeric in the column "positionText"
- Replace the non-numerica values ("R" and "N") with ```np.nan``` (missing value) in the column "positionText"
- Create a new column "positionNumeric" that converts the modified "positionText" column from string to numeric using ```pd.to_numeric()```

HINT: See the example in Lecture 12

In [18]:
# Write your own code
sprint_raw = pd.read_csv('data_raw/sprint_results.csv')
subset = sprint_raw.query("positionText.str.isnumeric() == False")
print(subset['positionText'])
list_old = ['R','N']
list_new = np.nan
subset['positionText'] = subset['positionText'].replace(list_old,list_new)
subset['positionNumeric'] = pd.to_numeric(subset['positionText'])
subset.dtypes

19     R
39     R
79     R
99     N
119    R
Name: positionText, dtype: object

C:\Users\maxsh\AppData\Local\Temp\ipykernel_22276\1920190405.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['positionText'] = subset['positionText'].replace(list_old,list_new)
C:\Users\maxsh\AppData\Local\Temp\ipykernel_22276\1920190405.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['positionNumeric'] = pd.to_numeric(subset['positionText'])

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number               int64
grid                 int64
position            object
positionText       float64
positionOrder        int64
points               int64
laps                 int64
time                object
milliseconds        object
fastestLap          object
fastestLapTime      object
statusId             int64
positionNumeric    float64
dtype: object

<font size = "5">

(b) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" with the following categories

$\qquad$ ``` ["1950-1974","1975-1999","2000-onwards"] ```

- Display the new "year_brackets" variable

$\qquad$ HINT: Use the "pd.cut()" command. See Lecture 12 (check the note in the example!)

In [ ]:
races_raw = pd.read_csv('data_raw/races.csv')

In [71]:
# Write your own code
races_raw = pd.read_csv('data_raw/races.csv')
bins_x = [1950,1975,2000,float('inf')]
labels_x = ["1950-1974",
            "1975-1999",
            "2000-onwards"]
races_raw['year_brackets'] = pd.cut(races_raw['year'],
                                    bins = bins_x,
                                    right = True,
                                    labels = labels_x)
races_raw
# Note: if we set bins_x = [float("-inf"),2500, float("inf")]
#       then intervals are "Less than or equal to 2500" and "Above 2500"
#       float("inf") and float("-inf") represent infinity and negative infinity
#       The "right" command indicates that the right interval is
#       "less than or equal to" or just "less than"

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,year_brackets
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2000-onwards
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2000-onwards
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2000-onwards
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2000-onwards
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2000-onwards
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,https://en.wikipedia.org/wiki/2023_United_Stat...,2023-10-20,17:30:00,2023-10-21,18:00:00,\N,\N,2023-10-20,21:00:00,2023-10-21,22:00:00,2000-onwards
1098,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,https://en.wikipedia.org/wiki/2023_Mexico_City...,2023-10-27,18:30:00,2023-10-27,22:00:00,2023-10-28,17:30:00,2023-10-28,21:00:00,\N,\N,2000-onwards
1099,1118,2023,21,18,São Paulo Grand Prix,2023-11-05,17:00:00,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...,2023-11-03,14:30:00,2023-11-04,14:30:00,\N,\N,2023-11-03,18:00:00,2023-11-04,18:30:00,2000-onwards
1100,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...,2023-11-17,04:30:00,2023-11-17,08:00:00,2023-11-18,04:30:00,2023-11-18,08:00:00,\N,\N,2000-onwards
1101,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N,2000-onwards

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Subset the observations for 'constructorId == 3' using ```.query()```
- Obtain the sum of "laps" by "driverId" using ``` .groupby().agg() ```
- Subset the drivers with a sum of laps $\ge 40$
- Store the results of all these operations in a dataframe ```sprint_results_agg ```
- Display the ```sprint_results_agg``` dataframe
- Provide a one-sentence explanation of the information in the ```sprint_results_agg ``` table

In [51]:
# Write your own code
sprint_results_raw = pd.read_csv('data_raw/sprint_results.csv')
sprint_results_raw.query('constructorId == 3')
sprint_results_raw
sprint_results_raw = sprint_results_raw.groupby('driverId').agg(sum_laps = ('laps','sum'))
sprint_results_raw.query('sum_laps >= 40')
sprint_results_agg = pd.DataFrame(sprint_results_raw)
sprint_results_agg
#The information in this table provides a grouped display of drivers who have accumulated over 40 laps in their respective races.

          sum_laps
driverId
1              127
4              104
8               41
9               18
20             125
815            126
817            127
822            127
825             68
830            127
832            127
839            127
840            127
841             59
842            109
844            127
846            127
847            127
848             56
849            127
852            127
853             59
854            127
855             47

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Obtain the sum of "laps" by "driverId" using ``` .groupby().agg() ```
- Sort the teams in descending order using of the sum of laps using ``` .sort_values() ```
- Display your results

In [56]:
# Write your own code
sprint_results_new = pd.read_csv('data_raw/sprint_results.csv')
sprint_results_agg = sprint_results_new.groupby("driverId").agg(s_laps = ('laps','sum'))
sorted = sprint_results_agg.sort_values(by = "s_laps", ascending = False). reset_index()
sorted

    driverId  s_laps
0          1     127
1        832     127
2        854     127
3        852     127
4        849     127
5        847     127
6        846     127
7        844     127
8        839     127
9        840     127
10       830     127
11       822     127
12       817     127
13       815     126
14        20     125
15       842     109
16         4     104
17       825      68
18       841      59
19       853      59
20       848      56
21       855      47
22         8      41
23         9      18

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Rename the column "points" to "points_sprint"
- Display the dataframe columns

HINT: Create a dictionary and use ```.rename(columns = ...)``` See Lecture 14

In [60]:
# Write your own code
sr = pd.read_csv('data_raw/sprint_results.csv')
dict_rename = {'points': 'points_sprint'}
sr_new = sr.rename(columns = dict_rename)
sr_new

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points_sprint,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,1095,840,117,18,15,16,16,16,0,24,+50.700,1862007,4,1:15.425,1
116,117,1095,839,214,31,6,17,17,17,0,24,+51.756,1863063,5,1:16.097,1
117,118,1095,4,214,14,7,18,18,18,0,24,+53.985,1865292,5,1:14.764,1
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1
119,120,1095,848,3,23,11,\N,R,20,0,12,\N,\N,4,1:15.998,31

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/sprint_results.csv" and "data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using "sprint_results" as the primary dataset (left), and "constructors" as the secondary dataset (right), merging on the column "constructorId"
- To get full points **ONLY** merge the "url" column from the secondary dataset (not all the columns)
- Display the resulting dataframe 


HINT: Use ```[[...]]``` to extract a subset of columns from the secondary dataset before merging, including the "constructorId" column

In [69]:
# Write your own code
sr_new = pd.read_csv('data_raw/sprint_results.csv')
construct = pd.read_csv('data_raw/constructors.csv')
construct_new = construct[['constructorId','url']]


results_merge = pd.merge(sr_new,
                         
                         construct_new,
                         on = "constructorId",
                         how = "left")
results_merge

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId,url
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1,http://en.wikipedia.org/wiki/Red_Bull_Racing
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1,http://en.wikipedia.org/wiki/Scuderia_Ferrari
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1,http://en.wikipedia.org/wiki/McLaren
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,1095,840,117,18,15,16,16,16,0,24,+50.700,1862007,4,1:15.425,1,http://en.wikipedia.org/wiki/Aston_Martin_in_F...
116,117,1095,839,214,31,6,17,17,17,0,24,+51.756,1863063,5,1:16.097,1,http://en.wikipedia.org/wiki/Alpine_F1_Team
117,118,1095,4,214,14,7,18,18,18,0,24,+53.985,1865292,5,1:14.764,1,http://en.wikipedia.org/wiki/Alpine_F1_Team
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
119,120,1095,848,3,23,11,\N,R,20,0,12,\N,\N,4,1:15.998,31,http://en.wikipedia.org/wiki/Williams_Grand_Pr...